langchain>=0.2.17
langchain-community
langchain-anthropic
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
fastapi
uvicorn
pandas
transformers
langchain_huggingface
accelerate
torch
pypdf
python-dotenv